<%= form_for [@house, @note], html: { class: "note-form" } do |f| %>

  <h4 class="text-center"><%= yield(:form_title) %></h4>

  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@note.errors.count, "error") %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :room, "Room or House Feature" %>
  <%= f.text_field :room %>

  <%= f.label :rating %>
  <%= f.select(:rating, [['Like', 1], ['Neutral', 0], ['Dislike', -1]]) %>

  <%= f.label :pros %>
  <%= f.text_area :pros, placeholder: "Things you like..." %>

  <%= f.label :cons %>
  <%= f.text_area :cons, placeholder: "Things you do not like..." %>

  <div class="expanded button-group">
    <%= f.submit yield(:button_text), class: "success button", id: "note-form-save-button" %>
    <%= link_to "Cancel", yield(:cancel_link), class: "alert button", id: "note-form-cancel-button" %>
  </div>

<% end %>
