<%= form_for [current_user, @house], html: { class: "house-form" } do |f| %>

  <h4 class="text-center"><%= yield(:form_title) %></h4>

  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@house.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @house.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "Nickname" %>
  <%= f.text_field :name %>

  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip_code, "Zip Code" %>
  <%= f.text_field :zip_code %>

  <%= f.label :asking_amount %>
  <%= f.text_field :asking_amount %>

  <%= f.label :total_sqft %>
  <%= f.text_field :total_sqft %>

  <%= f.label :photo %>
  <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>

  <div class="expanded button-group">
    <%= f.submit yield(:button_text), class: "success button", id: "user-form-button" %>
    <%= link_to "Cancel", house_path(@house), class: "alert button", id: "user-form-cancel-button" %>
  </div>
<% end %>
