<div class="house-details-title">
  <h1>House Details</h1>
  <div id="house-details-buttons">
    <div class="button-group">
      <%= link_to "Back", user_path(current_user), class: "button" %>
      <%= link_to "Edit", edit_user_house_path(current_user), class: "button success" %>
      <%= link_to "Delete", user_house_path(current_user),  class: "button alert",
                                                            method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>

<%= flash[:notice] %>

<div class="house-general-info row">
  <div class="small-12 medium-6 columns">
    <%= image_tag("http://via.placeholder.com/400x400") %>
    <h3 id="house-name"><%= @house.name %></h3>
    <p id="house-address"><%= @house.full_address %></p>
  </div>
  <div class="small-12 medium-6 columns right-info">
    <h2>General Info</h4>
    <p><span>Asking Amount:</span> $<%= @house.asking_amount %></p>
    <p><span>Total Sqft:</span> <%= @house.total_sqft %></p>
  </div>
</div>
<% if !@notes.empty? %>
  <ul>
    <% @notes.each do |note| %>
      <li><%= link_to "#{note.room}", note_path(note) %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Add Room", new_house_note_path(@house) %></p>
