<div class="house-details-top">
  <h1>House Details</h1>
  <div id="house-details-buttons">
    <div class="small button-group">
      <%= link_to "Back", user_path(current_user), class: "button" %>
      <%= link_to "Edit", edit_user_house_path(current_user), class: "button success" %>
      <%= link_to "Delete", user_house_path(current_user),  class: "button alert",
                                                            method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>

<%= flash[:notice] %>

<div class="house-general-info">
  <hr>
  <h2>General Info</h2>
  <div class="row">
    <div class="small-12 medium-6 columns left-column">
      <%= image_tag("http://via.placeholder.com/300x300") %>
      <h4 id="house-name"><%= @house.name %></h4>
      <p id="house-address"><%= @house.full_address %></p>
    </div>
    <div class="small-12 medium-6 columns right-column">
      <p><span>Asking Price:</span> $<%= @house.asking_amount %></p>
      <p><span>Total Sqft:</span> <%= @house.total_sqft %></p>
      <p><span>Price per sqft:</span> $<%= @house.price_per_sqft %></p>
      <p><span>Overall Impression:</span> </p>
      <p><span>Short list?</span> </p>
    </div>
  </div>
</div>

<div class="house-positives">
  <hr>
  <h2>Likes</h2>
  <!-- ADD IN CONDITIONAL STATEMENT, "NOT APPLICABLE" IF "POSITIVES" ARE BLANK -->
  <!-- ELSE, CYCLE THROUGH 3 OF THE POSITIVES -->
  <p>Not applicable.</p>
</div>

<div class="house-negatives">
  <hr>
  <h2>Dislikes</h2>
  <!-- ADD IN CONDITIONAL STATEMENT, "NOT APPLICABLE" IF "NEGATIVES" ARE BLANK -->
  <!-- ELSE, CYCLE THROUGH 3 OF THE NEGATIVES -->
  <p>Not applicable.</p>
</div>

<div class="house-notes">
  <hr>
  <h2>All Notes</h2>
  <p><%= link_to "Add Room", new_house_note_path(@house), class: "tiny button" %></p>
  <% if !@notes.empty? %>
    <ul>
      <% @notes.each do |note| %>
        <li><%= link_to "#{note.room}", note_path(note) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No notes available for this house.</p>
  <% end %>
</div>

<div class="house-additional-info">
  <hr>
  <h2>Additional Information</h2>
  <p>PDF's, etc.</p>
</div>
