<%= form_for(@user, html: { class: "sign-up-form" }) do |f| %>

  <h4 class="text-center"><%= yield(:form_title) %></h4>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password, "Password (8 characters minimum)" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <% if logged_in? %>
    <div class="expanded button-group">
      <%= f.submit yield(:button_text), class: "success button", id: "user-form-edit-button" %>
      <%= link_to "Cancel", user_path(current_user), class: "alert button", id: "user-form-cancel-button" %>
    </div>
  <% else %>
    <%= f.submit yield(:button_text), class: "button expanded", id: "sign-up-form-button" %>
    <p class="sign-up-form-member-login">Already a member? <%= link_to "Sign in", login_path %></p>
    <p class="sign-up-form-terms"> <%= link_to "Terms & Conditions", '#' %>|<%= link_to "Privacy", '#' %></p>
  <% end %>

<% end %>
