<% provide(:title, "Home") %>
<%= flash[:notice] %>

<h3>Welcome <%= @user.first_name %>!<br></h3>

<!-- LOOPS THROUGH EACH HOUSE IN PORTFOLIO -->
<div class="row small-up-1 medium-up-4">
  <% if !@houses.empty? %>
    <% @houses.each do |house| %>
      <div class="column column-block">
        <%= link_to image_tag("http://via.placeholder.com/200x200"), house_path(house) %>
        <p><%= link_to "#{house.name}", house_path(house) %></p>
      </div>
    <% end %>
  <% end %>
<!-- ADD A NEW HOUSE IMAGE -->
  <div class="column column-block">
    <i class="fa fa-plus-square" aria-hidden="true" style="font-size: 200px; color: teal"></i>
    <p><%= link_to "Add A New House", new_user_house_path(current_user) %></p>
  </div>
</div>
