<% provide(:title, "Home") %>
<%= flash[:notice] %>

<div class="user-homepage">

<h3>Welcome <%= @user.first_name %>!</h3>

<!-- LOOPS THROUGH EACH HOUSE IN PORTFOLIO -->
<div class="row small-up-1 medium-up-4">
  <% if !@houses.empty? %>
    <% @houses.each do |house| %>
      <div class="column column-block">
        <%= image_tag house.house_profile_pic.url(:small) if house.house_profile_pic? %>
        <p><%= link_to "#{house.name}", house_path(house) %></p>
      </div>
    <% end %>
  <% end %>
<!-- ADD A NEW HOUSE IMAGE -->
  <div class="column column-block">
    <i class="fa fa-plus-square" aria-hidden="true" style="font-size: 200px; color: teal"></i>
    <p><%= link_to "Add A New House", new_house_path %></p>
  </div>
</div>
</div>
