<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " | HouseHunter" : "HouseHunter" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- OFF CANVAS MENU -->
    <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
      <!-- Your menu or Off-canvas content goes here -->
      <%= render 'layouts/mobile_menu' %>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <!-- Your page content lives here -->

      <!-- MOBILE & DESKTOP NAVIGATION -->
      <%= render 'layouts/navbar' %>

      <%= yield %>

      <!-- FOOTER -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
